<section class="question">
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default white-panel-heading">
      <center>
      <div class="panel-heading">
          <img class="img-circle img-responsive" src="http://placehold.it/150x150" alt="profile pic">
          <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <p><%= @user.email %></p>
        <p><form class="" action="/users/new" method="get" role="form" accept-charset="utf-8">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span> Questions</button>
        </form></p>
        <p><form class="" action="/users/new" method="get" role="form" accept-charset="utf-8">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-check"></span> Answers</button>
        </form></p>
        <p><form class="" action="/users/new" method="get" role="form" accept-charset="utf-8">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> Votes</button>
        </form></p>
      </div>
      </center>
      <div class="panel-footer clearfix">
        <span class="pull-left">
        <form action="/users/delete" method="delete" role="form" accept-charset="utf-8">
          <button type="submit" data-original-title="Remove this user" data-toggle="tooltip" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete Profile</button>
        </form>
        </span>
        <span class="pull-right">
          <form action="/users/:id/edit" method="get" role="form" accept-charset="utf-8">
            <input name="user[id]" type="submit" data-original-title="Edit this user" data-toggle="tooltip" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i> Edit Profile</input>
          </form>
        </span>
      </div><!-- .panel-footer -->
    </div><!-- .panel -->
  </div><!-- .col-sm-6 -->

</section>
