<section class="user">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <caption>User</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.id %></td>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td>Delete button</td>
            <td>Edit button</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
