<section class="users">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <caption>Users</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>Delete button</td>
            <td><a href="/users/<%= user.id %>"><button class="btn btn-primary">Edit</button></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
